.containerPrincipalList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.containerTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.4rem;
  background-color: #ccc;
}

.containerList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  max-height: 80vh;
  margin: 2rem;
  padding: 0.4rem;
  gap: 2vh;
  overflow-y: auto;
}
