.containerHeroPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2vh;
}

.containerImgHeroPage {
  padding: 0.4rem;
}

.containerImgHeroPage img {
  border-radius: 0.4rem;
}
